# Directories
.vs/
bin/
bin-int/

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.ps1
*.ini

# Exclude
!vendor/bin
!.ignore

# From RayTracer
build
vendor/googletest
.clang-format
.clangd
AutoBuildAndRun.ps1
image.ppm
image2.ppm
.~lock.image.ppm#
RayTracer/bugs
AGENTS.md
build_ninja
build_vs
CMakeSettings.json
