# Directories
.vs/
bin/
bin-int/
build/

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.ps1
*.ini
*.md

# Exclude
!vendor/bin
!.ignore
!README.md
!DefaultLayout.ini

# RayTracer Directories
RayTracer/bugs/
RayTracer/diagnostics/

build_ninja
build_vs
CMakeSettings.json
